button {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;

  border-radius: 3rem;
  border: none;

  cursor: pointer;

  background: rgb(147, 86, 220);
  background: linear-gradient(
    343deg,
    rgba(147, 86, 220, 0.7) 40%,
    rgba(255, 121, 218, 0.9) 100%
  );

  @include shadow;

  &:hover {
    background: rgba(147, 86, 220, 0.8);
    background: linear-gradient(
      343deg,
      rgba(147, 86, 220, 0.5) 40%,
      rgba(255, 121, 218, 0.7) 100%
    );

    @include shadow-dark;
  }
}

.card__like {
  display: flex;
  cursor: pointer;
  position: relative;

  .fa-solid {
    position: absolute;
    color: rgba(0, 0, 0, 0);
  }

  i {
    font-size: 1.4rem;

    &:hover {
      color: $clr-primary;
      transition: color 0.7s ease-in;
    }
  }
}
