.menu__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  background-color: #f6f6f6;

  .menu__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      width: 100%;
      max-height: 270px;
      object-fit: cover;
    }

    .menu__title {
      display: flex;
      justify-content: space-between;
      position: absolute;

      bottom: 0px;
      width: 100%;
      padding: 1.5rem 2rem;

      background-color: #f6f6f6;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;

      h2 {
        font-family: "Shrikhand", cursive;
        text-transform: capitalize;
        font-size: $fs-title;
      }
    }

    .card__like {
      font-size: $fs-title;
    }
  }

  .menu__top,
  .menu__middle,
  .menu__bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0 1rem;
    padding-bottom: 2rem;

    h3 {
      position: relative;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      font-size: $fs-h3;

      &:after {
        position: absolute;
        bottom: -6px;
        left: 0;
        content: "";
        width: 60px;
        height: 3px;
        background-color: #99e2d0;
      }
    }

    .menu__item {
      display: flex;
      border-radius: 20px;
      max-width: 100%;

      -webkit-box-shadow: 0 0 6px hsla(0, 0, 50%, 0.5);
      box-shadow: 0 0 6px hsla(0, 0, 50%, 0.5);
      background-color: white;

      overflow: hidden;
      cursor: pointer;

      .item__desc {
        padding: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        .desc__title {
          font-size: $fs-h3;
          font-weight: bold;
          text-transform: capitalize;

          margin-bottom: 0.75rem;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .desc__subtitle {
          font-size: $fs-small;
          font-weight: 300;
          text-transform: capitalize;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .item__price {
        display: flex;
        align-items: flex-end;
        font-weight: bold;
        margin-left: auto;
        padding: 1rem;
        padding-right: 2rem;
      }

      .item__check {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 6rem;
        margin-right: -6rem;

        background-color: $clr-tertiary;
        transition: 0.5s all;
      }

      &:hover .item__check {
        margin-right: 0;
      }

      .check__icon {
        transform: rotate(180deg);
        transition-duration: 0.5s;

        .fa-check {
          font-size: $fs-icon;
          font-weight: bold;
          background-color: white;
          color: $clr-tertiary;
          border-radius: 50%;
          padding: 0.5rem;
        }
      }

      &:hover .check__icon {
        transform: rotate(0);
      }
    }
  }

  .button__menu {
    width: 50%;
    margin: 0 auto;
  }
}

/*=============== For tablet devices ===============*/

@media screen and (min-width: 640px) {
  .menu__container {
    max-width: 728px;
    margin: 0 auto;

    .menu--responsive {
      padding: 2rem 4rem;
    }
  }
}

/*=============== For desktop devices ===============*/

@media screen and (min-width: 1024px) {
  .menu__container {
    max-width: 1024px;
    margin: 0 auto;

    .menu--responsive {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      padding: 2rem;
    }

    .menu__top,
    .menu__middle,
    .menu__bottom {
      width: 45%;
    }
  }

  .button__menu {
    width: 40%;
    margin: 0 auto;
  }
}

// Animations
.menu__top {
  animation: slideMe 1000ms;
}

.menu__middle {
  animation: slideMe 1500ms;
}

.menu__bottom {
  animation: slideMe 2000ms;
}

@keyframes slideMe {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  // 25% {
  //   transform: translateX(-750px);
  // }

  50% {
    opacity: 0;
    transform: translateX(-500px);
  }

  // 75% {
  //   transform: translateX(-250px);
  // }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
