.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 1rem;
  padding: 1rem;
  background-color: #eaeaea;
}

.location i {
  font-size: 1.1rem;
}

.location p {
  font-weight: bold;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #f6f6f6;
}

.hero h1 {
  font-weight: 700;
  font-size: 1.75rem;
  padding: 0 2rem;
}

.hero h2 {
  font-weight: 300;
  font-size: 1.25rem;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.hero button {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 3rem;
  border: none;
  background: #9356dc;
  background: linear-gradient(343deg, rgba(147, 86, 220, 0.7) 40%, rgba(255, 121, 218, 0.9) 100%);
  -webkit-box-shadow: 0 0 6px rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.5);
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.steps .steps__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 1.5rem;
  padding: 1rem 1.75rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 0 6px rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.5);
}

.steps .steps__box .step__index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 0.75rem;
  background-color: #9356dc;
  left: -12px;
  color: #eee;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  font-size: 0.85rem;
  font-weight: bold;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1rem;
  background-color: #f6f6f6;
}

.restaurants .restaurant__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 0 6px rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.5);
}

.restaurants .restaurant__card .card__new {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #98e2cf;
  color: #278b72;
  -webkit-box-shadow: 0 0 6px rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.5);
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.restaurants .restaurant__card img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.restaurants .restaurant__card img.img--horizontal {
  -o-object-position: 60% 90%;
     object-position: 60% 90%;
}

.restaurants .restaurant__card img.img--vertical {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

.restaurants .restaurant__card .card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.restaurants .restaurant__card .card__footer .card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.restaurants .restaurant__card .card__footer .card__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.restaurants .restaurant__card .card__footer .card__like i {
  font-size: 1.4rem;
}

.restaurants .restaurant__card .card__footer .card__like i:hover {
  color: #9356dc;
  font-weight: bold;
}
/*# sourceMappingURL=home.css.map */